<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cl.mineduc.came.apoyo_mejora_continua.mappers.PerfilEncuestaMapper">
	<resultMap id="BaseResultMap" type="cl.mineduc.came.apoyo_mejora_continua.modelo.PerfilEncuesta">
		<id column="id_perfil_encuesta" property="idPerfilEncuesta" />
		<result column="id_perfil" property="idPerfil" />
		<result column="id_encuesta" property="idEncuesta" />
		<result column="estado" property="estado" />
		<result column="fecha_registro" property="fechaRegistro" />
		<result column="id_usuario_registro" property="idUsuarioRegistro" />
	</resultMap>

	<sql id="query">
		select 
			_pe.id_perfil_encuesta, 
			_pe.id_perfil, 
			_pe.id_encuesta, 
			_pe.estado, 
			_pe.fecha_registro, 
			_pe.id_usuario_registro
		from came.came_perfil_encuesta _pe
	</sql>

	<delete id="deleteById" parameterType="java.lang.Long">
		delete from
			came.came_perfil_encuesta
		where id_perfil_encuesta =	#{idPerfilEncuesta}
	</delete>
	
	<insert id="insert"
		parameterType="cl.mineduc.came.apoyo_mejora_continua.modelo.PerfilEncuesta">
		<selectKey keyColumn="id_perfil_encuesta"
			keyProperty="idPerfilEncuesta" order="BEFORE"
			resultType="java.lang.Long">
			(select came.next_id())
		</selectKey>
		insert into came.came_perfil_encuesta
		(
			id_perfil_encuesta, 
			id_perfil, 
			id_encuesta, 
			estado, 
			fecha_registro, 
			id_usuario_registro	
		)
		values
		(
			#{idPerfilEncuesta}, 
			#{idPerfil}, 
			#{idEncuesta}, 
			#{estado}, 
			#{fechaRegistro}, 
			#{idUsuarioRegistro}	
		)
	</insert>
	
	<update id="updateById"
		parameterType="cl.mineduc.came.apoyo_mejora_continua.modelo.PerfilEncuesta">
		update came.came_perfil_encuesta
		set id_perfil_encuesta=#{idPerfilEncuesta}, 
			id_perfil=#{idPerfil}, 
			id_encuesta=#{idEncuesta}, 
			estado=#{estado}, 
			fecha_registro=#{fechaRegistro}, 
			id_usuario_registro=#{idUsuarioRegistro}
		where
		id_perfil_encuesta = #{idPerfilEncuesta,jdbcType=BIGINT}
	</update>

	<select id="getById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		<include refid="query"></include>
		where _pe.id_perfil_encuesta =	#{idPerfilEncuesta,jdbcType=BIGINT}
	</select>

	<select id="getAll" resultMap="BaseResultMap">
		<include refid="query"></include>
		order by _pe.id_perfil_encuesta asc
	</select>	

	<select id="getByIdEncuesta" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		<include refid="query"></include>
		where _pe.id_encuesta =	#{idEncuesta}
	</select>

</mapper>